@import url('https://rsms.me/inter/inter.css');
html {
  font-family: 'Inter', sans-serif;
}
@supports (font-variation-settings: normal) {
  html {
    font-family: 'Inter var', sans-serif;
  }
}

body {
  font-size: 16px;
  line-height: 1.4;
  color: #222;
}

h1 {
  font-size: 36px;
  font-weight: 400;
  margin: 3em 0px 1em;
}

h2 {
  font-weight: 400;
  color: #404b5a;
}

.description {
  display: block;
  margin-bottom: 3em;
  color: #6e7a8a;
}

.example {
  border: 1px solid #e1e7ec;
  border-radius: 5px;
  margin-top: 2em;
  margin-bottom: 4em;
  overflow: hidden;
}

.example pre {
  margin: 0;
  border-radius: 0;
  border: none;
}

.example p {
  margin: 0;
}

.example p img {
  border: none;
}

.example.code-first pre {
  border-bottom: 1px solid #e1e7ec;
}
.example.preview-first pre {
  border-top: 1px solid #e1e7ec;
}
.example.preview-margin > :not(pre) {
  margin: 16px;
}
