body,
input,
button {
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
}

html {
  zoom: 2;
}

hr {
  border: 0.5px solid #92b73a;
}
