:root {
}
.Form {
  background: white;
  width: 400px;
  margin: auto;
  box-shadow: small;
  padding-top: 32px;
  padding-bottom: 32px;
  border-radius: 1px;
}
FormField {
  border: none;
  padding: none;
  padding-left: 32px;
  padding-right: 32px;
  not-last-child: [object Object];
}
FormLabel {
  color: grays.800;
  display: block;
  font-size: 16px;
  line-height: default;
  margin-bottom: 4px;
}
FormHeader {
  font-size: 32px;
  font-weight: normal;
  margin-left: 32px;
  margin-right: 32px;
  margin-top: 0;
  margin-bottom: 32px;
}
